.App {
  text-align: center;
}

h1 {
  background-color: rgb(37, 37, 37);
  color: white;
  padding: 20px;
  margin: 0;
}

.chat-container {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  background-color: #fff;
  border: 5px solid #0127ff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.chat-container input,
.chat-container button {
  margin: 0 5px;
}

.lorem-content {
  padding-bottom: 100px;
}